body {
    margin: 0 auto;
    background-color: rgb(223, 238, 195); 
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: tahoma;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: rgb(223, 238, 195);
  color: black;
}

p{
    font-weight: 650;
    text-align: center;
    font-family: tahoma;
    font-size: 25px;
}

.slika {
  width: 100%;
  float: left;
  margin:1.66%;
}

#gallery p{
    font-weight: 650;
    text-align: left;
    font-family: tahoma;
    font-size: 20px;
    width: 100%;
    margin:1.66%;
    float: left
}

#gallery form{
    text-align: center;    
}

.post {
    width: 30%;
    float: left;
    padding: 1%;
}

form{
    padding: auto;
    
}

#novkomentar1 p{
  
  text-align: left;
  font-family: tahoma;
  font-size: 10px;
  width: 100%;
  float: left;
  color: #333;
  
}

#novkomentar1 .novdate{
  border-top: solid 1px #333;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar1 .novkom{
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar2 p{
  
  text-align: left;
  font-family: tahoma;
  font-size: 10px;
  width: 100%;
  float: left;
  color: #333;
  
}

#novkomentar2 .novdate{
  border-top: solid 1px #333;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar2 .novkom{
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar3 p{
  
  text-align: left;
  font-family: tahoma;
  font-size: 10px;
  width: 100%;
  float: left;
  color: #333;
  
}

#novkomentar3 .novdate{
  border-top: solid 1px #333;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar3 .novkom{
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0%;
}


#novkomentar4 p{
  
  text-align: left;
  font-family: tahoma;
  font-size: 10px;
  width: 100%;
  float: left;
  color: #333;
  
}

#novkomentar4 .novdate{
  border-top: solid 1px #333;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar4 .novkom{
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0%;
}


#novkomentar5 p{
  
  text-align: left;
  font-family: tahoma;
  font-size: 10px;
  width: 100%;
  float: left;
  color: #333;
  
}

#novkomentar5 .novdate{
  border-top: solid 1px #333;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar5 .novkom{
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0%;
}


#novkomentar6 p{
  
  text-align: left;
  font-family: tahoma;
  font-size: 10px;
  width: 100%;
  float: left;
  color: #333;
  
}

#novkomentar6 .novdate{
  border-top: solid 1px #333;
  padding-top: 10px;
  margin: 0%;
}

#novkomentar6 .novkom{
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0%;
}

